<div>
  <form class="category_select" action="{% url 'category' category_name='redirect' %}" method="POST">
    {% csrf_token %}
    <label for="category">Category:</label>
    <select name="category">
      <option value="Shoes">Shoes</option>
      <option value="Shirts">Shirts</option>
      <option value="Pants">Pants</option>
      <option value="Watches">Watches</option>
      <option value="Jewelry">Jewelry</option>
    </select>
    <button id="category_select" ="submit">Select</button>
  </form>
</div>