{% extends "auctions/layout.html" %}

{% block body %}
  <header class="header">
  <div class="page-header"><h2>Listing</h2></div>

  {% include "auctions/category_select.html" %}
  </header>
  <div class="listing-container">
    {% if auction %}
      
      {% if request.user == auction.auctioneer and auction.status %}
        <form action="{% url 'close_auction' id=auction.auction_id %}" method="POST">
        {% csrf_token %}
          <button type="submit" value="close">Close Auction</button>
        </form>
      {% endif %}
      {% if not auction.status %}
        <h1>This auction is closed!</h1>
        {% if request.user == bid.user %}
        <h1>You won the auction!</h1>
        {% endif %}
      {% endif %}
        {% include "auctions/item.html" %}
      
      {% if user.is_authenticated %}
        <form id="watchlist-form" action="{% url 'update_watchlist' id=auction.auction_id %}" method="POST">
        {% csrf_token %}
          {% if request.user not in watchlist %}
            <button type="submit" name="watchlist" value="add">Add to Watchlist</button>
          {% else %}
            <button type="submit" name="watchlist" value="remove">Remove from Watchlist</button>
          {% endif %}
        </form>

        <form id="bid-form" action="{% url 'bid' id=auction.auction_id %}" method="POST">
        {% csrf_token %}
          <label for="bid" id="bid_notification">New Bid</label>
          <input id="bid" type="number" name="bid" min="{{ auction.bid|add:1 }}" required="true" placeholder="{{ auction.bid|add:1|floatformat:2 }}">
          <button id="submit_bid" type="submit">Bid</button>
        </form> 

        <form id="comment-form" action="{% url 'add_comment' id=auction.auction_id %}" method="POST">
        {% csrf_token %}
          <label for="comment">Add Comment</label>
          <textarea id="comment" name="comment"></textarea>
          <button type="submit">Submit Comment</button>
        </form>

      {% endif %}
      {% for comment in comments %}
        <p>{{ comment.username }}<br>{{ comment.comment }}</p>
      {% endfor %}

    {% else %}
      <p>That auction does not exist.</p>
    {% endif %}
  </div>
{% endblock %}