
asgiref==3.7.2
boto3==1.28.64
dj-database-url==2.1.0
django==4.2.5
django-storages==1.14.2
psycopg2-binary==2.9.9
python-decouple==3.8
python-dotenv==1.0.0
pillow==9.4.0
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
